@using MovieStoreMVC.TagHelpers 

@{
    ViewData["Title"] = "MyTagHelper";
}

<h1>MyTagHelper</h1>



@Html.HelloWorldWithHTML()

<br />

@Html.HelloWorldString()

<br />

@Html.HelloWorldWithName("Hannes")