@model DependencyInversionSample.ICar

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>Guten Morgen Liebe Teilnehmer!!!</p>
@Model.Id
<br />
@Model.Brand
<br />
@Model.Model
